body{
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  font-size: 22px;
  line-height: 36px;
  color: rgb(15,0,23);
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/*
@media screen and (max-width: 960px) {
  .property_list, .all_tenants_wrap{
    display: flex;
    flex-direction: column;
    color: red;
  }

  .change_current_month_properties form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
  }
}*/

button{
  cursor: pointer;
}

@media screen and (max-width: 1324px) {
  .property_list, .all_tenants_wrap{
    display: flex;
    flex-direction: column;
    color: rgb(15,0,23);
  }

  .change_current_month_properties form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-right: 5%;
  }

  .change_current_month_properties, .paid_in_full_form_properties{
    border: 0.25px solid rgb(15,0,23, 0.35);
    border-radius: 2.5em;
    margin-top: 2.5em;
    padding: 0.75em;
    margin-bottom: 1em !important;
    box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75 );
    -webkit-box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
    -moz-box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
  }
  
  .change_current_month_properties form, .paid_in_full_form_properties form{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .paid_in_full_form_properties form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .paid_in_full{
    display: flex;
    flex-direction: column;
    border: 0.25px solid rgb(15,0,23, 0.35);
    border-radius: 2.5em;
    margin-top: 2.5em;
    padding: 0.75em;
    margin-bottom: 2.5em;
    box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
    -webkit-box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
    -moz-box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
  }

  .paid_in_full_form form{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  }

  .paid_in_full_form form div{
    margin-top: 0.75em;
  }
}

.submit_button{
  font-size: large;
  font-weight: bold;
  min-width: 8em;
  padding: 0.25em;
  border-radius: 1em;
  margin-top: 1.25em;
  margin-bottom: 0.25em;
  outline: none;
  border: 0.25px solid rgb(15,0,23, 0.35);
  background-image: linear-gradient(to right bottom, rgb(5,25,55, 0.85), rgb(18,52,97, 0.85), rgb(29,82,143, 0.85), rgb(36,115,192, 0.85), rgb(33,150,243,0.85)) !important;
  /*
  background-color: rgb(145,234,228, 0.5);*/
  box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
  -webkit-box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
}

.change_current_month_properties, .paid_in_full_form_properties{
  border: 0.25px solid rgb(15,0,23, 0.35);
  border-radius: 2.5em;
  margin-top: 2.5em;
  padding: 0.75em;
  margin-bottom: 2.5em;
  box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
  -webkit-box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
  -moz-box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
}

.paid_in_full_form_properties_partial{
  border: 0.25px solid rgb(15,0,23, 0.35);
  border-radius: 2.5em;
  margin-top: 2.5em;
  padding: 0.75em;
  margin-bottom: 2.5em;
  box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
  -webkit-box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
  -moz-box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
}

.change_current_month_properties form, .paid_in_full_form_properties form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select{
  font-size: large;
  font-weight: bold;
 /* width: 33%;*/
  padding: 0.33em;
  border-radius: 1em;
  border: 0.5px solid rgb(15,0,23, 0.35);
  background-color: rgb(145,234,228, 0.15);
  box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
  -webkit-box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);

}

.total_rent_per_property_h2{
  text-align: center;
}

.modify_property_statements_form{
  display: flex;
  flex-direction: column;
}

.modify_property_statements_form div{
  display: flex;
  border: 0.5px solid rgb(15,0,23, 0.35);
  border-radius: 0.25em;
  padding: 0.5em;
  margin-top: 0.25em;
  justify-content: space-around;

}

.input_text{
  padding: 0.25em;
  font-weight: bold;
  color: rgb(15,0,23);
}

.view_tenants_button{
  border-radius: 2em;
  padding: 0.5em;
  border: none;
  font-weight: bold;
  color: #fdfbfb;
  background-image: linear-gradient(to right bottom, rgb(5,25,55, 0.75), rgb(18,52,97, 0.75), rgb(29,82,143, 0.75), rgb(36,115,192, 0.75), rgb(33,150,243,0.75)) !important;
 /* background-color: rgb(145,234,228);*/
  box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
  -webkit-box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgb(15,0,23, 0.75);
}

.back_to_propeties_button{
  border-radius: 2em;
  padding: 0.75em;
  border: none;
  font-weight: bold;
  color: rgb(233,230,240);
  background-image: linear-gradient(to right bottom, rgb(5,25,55, 0.85), rgb(18,52,97, 0.85), rgb(29,82,143, 0.85), rgb(36,115,192, 0.85), rgb(33,150,243,0.85)) !important;
  /*background-color: rgb(145,234,228);*/
  box-shadow: 2px 2px 2px 0px rgb(15,0,23,0.75);
  -webkit-box-shadow: 2px 2px 2px 0px rgb(15,0,23,0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgb(15,0,23,0.75);
}

.download_button_wrap{
  padding-bottom: 1.25em;
  padding-top: 1.25em;
}


.property_list, .all_tenants_wrap{
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
}


a,
.green {
  text-decoration: none;
  color: #2196F3;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: rgba(151,60,238, 0.25);
  }
}
/*
@media (min-width: 1024px) {
}*/

table{
  margin-bottom: 2.5em;
}

table,
td,
th {
  border: 0.5px solid rgb(15,0,23);
    border-collapse: collapse;
    padding: 0.45em;
}

th{
  color: rgb(233,230,240);
}

td{
  color: rgb(15,0,23);
}

th, 
table h2{
  font-size: large;
  font-weight: bold;
}

tr:nth-child(even) {
  background-image: linear-gradient(to right bottom, rgb(150,243,33,0.25), rgb(0,234,146,0.25), rgb(0,214,224,0.25), rgb(0,186,255,0.25), rgb(33,150,243,0.25));
  /*
  background-image: linear-gradient(to right bottom, rgb(134,168,231, 0.25), rgb(115,187,239, 0.25), rgb(108,205,240, 0.25), rgb(120,220,235, 0.25), rgb(145,234,228, 0.25));
*/
}

.table_header{
  background-image: linear-gradient(to right bottom, rgb(5,25,55, 0.85), rgb(18,52,97, 0.85), rgb(29,82,143, 0.85), rgb(36,115,192, 0.85), rgb(33,150,243,0.85)) !important;
 /* background-image: linear-gradient(to right bottom, rgb(151,60,238, 0.75), rgb(132,59,218, 0.75), rgb(114,56,198, 0.75), rgb(97,53,177, 0.75), rgb(82,49,157, 0.75)) !important;
*/}

.totals{
  display: flex;
  justify-content: center;
  align-items: center;
}

.totals_row{
  background-image: linear-gradient(to right bottom, rgb(5,25,55, 0.85), rgb(18,52,97, 0.85), rgb(29,82,143, 0.85), rgb(36,115,192, 0.85), rgb(33,150,243,0.85)) !important;
  /*
  background-image: linear-gradient(to right bottom, rgb(151,60,238, 0.45), rgb(132,59,218, 0.45), rgb(114,56,198, 0.45), rgb(97,53,177, 0.45), rgb(82,49,157, 0.45)) !important;
*/
}

.terminated_tenant_header h2, .active_tenant_header h2, caption h2{
  margin-top: 1em;
  padding: 1em;
  color: rgb(15,0,23);
}



.update_tenant{
  padding: 1em;
}
/*
.update_tenant_header{
  display: flex;
  justify-content: space-between;
}*/

.paid_in_full{
  border: 0.25px solid rgb(15,0,23, 0.35);
  border-radius: 2.5em;
  margin-top: 2.5em;
  padding: 0.75em;
  margin-bottom: 2.5em;
  box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
  -webkit-box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
  -moz-box-shadow: 4px 4px 4px 0px rgb(15,0,23, 0.55);
}

.tenant_updates_header{
  padding: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.paid_in_full_header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
}

.paid_in_full_header h3{
  font-weight: bold;
  color: rgb(15,0,23);
  margin-bottom: 1em;
  text-decoration: underline;
  text-decoration-color: rgb(15,0,23);
}

.paid_in_full_form form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

/*.paid_in_full_form form select{
  color: red;
}*/

.paid_in_full_form form input{
  padding: 0.75em;
  border-radius: 5em;
  border: 0.5px solid rgb(15,0,23, 0.25);
  box-shadow: 1px 1px 1px 0px rgb(15,0,23,0.55);
  -webkit-box-shadow: 1px 1px 1px 0px rgb(15,0,23,0.55);
  -moz-box-shadow: 1px 1px 1px 0px rgb(15,0,23,0.55);
}

option{
  padding: 0.75em;
  color: rgb(15,0,23);
  margin-right: 20em;
}

.house td div{
  padding-bottom: 0.75em;
  padding-bottom: 0.75em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment_datils_nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.33em;
}

.tenant_statement_download{
  border: 0.5px solid rgb(15,0,23, 0.25);
  border-radius: 10px;
  margin-top: 1.25em;
}

.tenant_statement_header_items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5%;
}

.update_property_header_nav{
  display: flex;
  justify-content: space-between;

}

.tenant_updates_header_title{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(15,0,23);
}

h3 span{
  color: rgb(15,0,23);
}

.select_payment_month{
  display: flex;
}

.tenant_updates_header_title h2{
  font-weight: bolder;
}

.tenant_statement_header_items h2, .tenant_statement_header_items h3{
  margin-top: 0.5em;
  padding: 0.5em;
  color: rgb(15,0,23);
  font-weight: bold;
}

.tenant_statement_download_header{
  display: flex;
  justify-content: space-between;
}

.background{
  padding: 1em;
  min-height: 70vh;
  position: relative;
 background-image: url('./src/assets/city.jpg');
 background-size: cover;
 background-position: center;
  background-repeat: no-repeat;
}
/*
.background {
  background-image: url('./src/assets/city.jpg'); /* Replace with your image URL *
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}*/
.glassy-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255,0.1);
  backdrop-filter: blur(1.5px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: scroll;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top: 1px solid gray;
}
.content {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 60%;
  min-height: 50%;
}
.content h2 {
  margin-top: 0;
}/*
.content p {
  font-size: 16px;
  color: #333;
}*/
.content button, .content button .RouterLink{
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}
.content button:hover, .content button:hover .RouterLink {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .content {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 5%;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .content button, .content button .RouterLink{
    padding: 5px 12px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}

.RouterLink{
  font-size: larger;
}

.brand :hover{
  background:none !important;
}

.three_nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5em;
}

.property_statement_months{
  display: flex;
  flex-wrap: wrap;
}

.statement_month{
  border: 0.5px groove rgb(0,0,0, 0.2);
  border-radius: 5px;
  height: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em;
  margin: 1em 0.7em 1em 0.75em;
  width: 20%;
  box-shadow: 0 4px 8px rgb(0,0,0, 0.2);
}

.statement_month:hover{
  color: #fdfbfb;
  border: 0.5px groove rgb(253,251,251, 0.55);
  background-color: rgb(0,86,179, 0.75);
  cursor: pointer;
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s;
}

.property_statement_summary{
  border: 1px solid rgb(15,0,23);
  padding: 5px;
  border-radius: 5px;
}

.property_statement_gross_wrap{
  display: flex;
  flex-direction: column;
}

.property_statement_summary_header{
  border: 0.5px solid rgb(153,51,0, 0.25);
  display: flex;
  border-radius: 5px;
  color: rgb(243, 228, 26);
  background: rgba(0, 0, 0, 0.5);
  justify-content: space-between;
  box-shadow: 1px 1px 1px 0px rgb(15,0,23,0.55);
  -webkit-box-shadow: 1px 1px 1px 0px rgb(15,0,23,0.55);
  -moz-box-shadow: 1px 1px 1px 0px rgb(15,0,23,0.55);
}

.statement_header_item{
  display: flex;
  padding-left: 1em;
  align-items: center;
  flex: 1;
}

.statement_header_amount{
  border-left: 1px solid rgb(153,51,0);
}

.property_statememt_date{
  text-align: center;
  text-decoration: underline;
  text-decoration-color: rgb(153,51,0);
}

.property_statement_summary_item p{
  padding: 0.25em;
  font-weight:500;
}

.property_statement_summary_item{
  margin-top: 0.25em;
  display: flex;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 1px 0px rgb(15,0,23,0.55);
  -webkit-box-shadow: 1px 1px 1px 0px rgb(15,0,23,0.55);
  -moz-box-shadow: 1px 1px 1px 0px rgb(15,0,23,0.55);
}

.property_statement_summary_item div{
  flex: 1;
}

.property_statement_summary_item_form{
  display: flex;
  flex-direction: column;
}

.property_statement_summary_item_form div{
  margin-top: 0.5em;
  display: flex;
  align-items: center;
}

.statement_header_amount_form{
  padding-left: 1em;
}

.gross_pay{
  padding: 0.2em;
  margin-top: 0.33em;
  margin-bottom: 0.33em;
  display: flex;
}

.gross_wrap{
  flex: 1;
}

.gross_value{
  flex: 1;
  padding-left: 0.33em;
  color: rgb(15,0,23);
  font-weight: bold;
}
